body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(server-room.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb;
}

hr {
	border-color: #03fcec;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 1.5rem;
}

.btn {
	font-weight: 700;
	color: black;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #03fcec;
	border-color: #03fcec;
	transition-property: all;
	transition-duration: 0.5s;
}

.btn-primary:hover {
	background-color: #03fcd3;
	border-color: #03fcd3;
	border-width: 4px;
	transform: scale(1.1);
}

.btn-xl {
	padding: 1rem 2rem; 
}
